
.clearfix:before, .clearfix:after {
    content: '';
    display: table;
}
.clearfix:after {
    clear: both;
}

*::-webkit-input-placeholder {
	color: #858585;
	opacity: 1;
}

*:-moz-placeholder {
	color: #858585;
	opacity: 1;
}
*::-moz-placeholder {
	color: #858585;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #858585;
	opacity: 1;
}

*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    width: 100%;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    line-height: 1.3;
    background: #f3f3f3;
    position: relative;
}

.container{
    width: 100%;
    max-width: 1710px;
    min-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.hidden {
  display: none !important;
}


input[type='text'],
input[type='password'],
input[type='search']{
    width: 100%;
    height: 42px;
    padding: 0 15px;
    color: #3b3b39;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    transition: .3s;
}

textarea{    
    width: 100%;
    height: 120px;
    padding: 12px;
    color: #707070;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #00728A;
    border-radius: 0;
    resize: none;
}

input:focus{
    outline: none;
}

textarea:focus{
    outline: none;
}

select:focus{
    outline: none;
}

.cols{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col{
    padding: 0 15px;
}

.btn{
    display: inline-block;
    border: medium none;
    background: transparent;
    cursor: pointer;
    transition: .3s;
    font-family: 'Inter', sans-serif;
}

.btn-green{
    min-height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 3px 25px;
    background: #38aa34;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}

.btn-green:hover,
.btn-green:active{
    opacity: .8;
}

.btn .arrow-pixel{
    margin-left: 34px;
}

.arrow-pixel{
    width: 40px;
    height: 40px;
    display: block;
    flex-shrink: 0;
    background: url(../img/arrow-pixel.svg) center no-repeat;
}

button:focus{
    outline: none;
}

.slick-dots{
    position: absolute;
    text-align: center;
    bottom: 25px;    
    width: 100%;
    margin: 0 auto !important;
    padding: 0 !important;
}

.slick-dots li{
    width: auto;
    height: auto;
    margin: 0 6px!important;
    padding: 0!important;
}

.slick-dots li:before{
    display: none;
}

.slick-dots li button{
    width: 15px;
    height: 15px;
    padding: 0;
    overflow: hidden;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #00728A;
    opacity: 1;
    text-indent: -9999px;
    transition: .3s;
}

.slick-dots li.slick-active button{
    background-color: #00728A;
}

.slick-prev, 
.slick-next{
    width: 65px;
    height: 65px;
    z-index: 9;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s;
    border-radius: 0;
    background-position: center !important;
    background-color: transparent !important;
    background-repeat: no-repeat !important;
}

.slick-prev:before,
.slick-next:before{
    content: none;
    
}

.slick-prev{
    left: 0;
    background-image: url(../img/prev.svg)!important;
}

.slick-prev:hover{
    opacity: .8;
}

.slick-next{
    right: 0;
    background-image: url(../img/next.svg)!important;

}

.slick-next:hover{
    opacity: .8;
}

.slick-dotted.slick-slider{
    margin-bottom: 0;
}

.swiper{
    width: 100%;
    
}

.swiper-button-prev:after, 
.swiper-rtl .swiper-button-next:after{
    display: none;
}

.swiper-button-next:after, 
.swiper-rtl .swiper-button-prev:after{
    display: none;
}

.swiper-button-next,
.swiper-button-prev{
    width: 28px;
    height: 20px;
    outline: none;
    box-shadow: none;
    transition: .3s;
}

.swiper-slide *:focus{
    outline: none;
}

.swiper-button-next{
    background: url(../img/next.svg) center no-repeat;
    right: 0;
    left: auto;
}

.swiper-button-next:hover{
    opacity: .8;
}

.swiper-button-prev{
    background: url(../img/prev.svg) center no-repeat;
    left: 0;
    right: auto;
}

.swiper-button-prev:hover{
    opacity: .8;
}

.controls{
    width: 515px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    padding-left: 160px;
    padding-right: 80px;
    background: #fff;
    position: relative;
}

.controls.dark{
    width: 280px;
    height: 45px;
    padding: 0;
    background: transparent;
}

.controls .swiper-button-next,
.controls .swiper-button-prev{
    position: static;
    flex-shrink: 0;
    margin: 0;
}

.controls .swiper-pagination-progressbar{
    width: 140px;
    position: static;
    flex-shrink: 0;
    margin: 0 40px;
}

.swiper-pagination-progressbar{
    height: 3px;
    background: rgba(43, 135, 200, 0.22);
    backdrop-filter: blur(12px);
    border-radius: 100px;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    background: #2b87c8;
    border-radius: 100px;
}

.title-block{
    font-weight: 500;
    font-size: 54px;
    line-height: 1.1;
    color: #3b3b39;
}

.title-block.white{
    color: #fff;
}

.title-block span{
    color: #989898;
}

.section{
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    z-index: 1;
}

.section-bg{
    background: url(../img/section-bg.svg) left 90% no-repeat;
}

.section__cols{
    display: flex;
    flex-wrap: wrap;
}

.section__left{
    width: 350px;
    flex-shrink: 0;
    padding-left: 54px;
    padding-right: 30px;
}

.section__right{
    width: calc(100% - 350px);
}

/**HEADER**/
.header{
    width: 100%;
    display: block;
    padding-top: 24px;
    padding-bottom: 0;
    position: relative;
    z-index: 12;
}

.header__top{
    padding-bottom: 14px;
}

.header__top .cols{
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.header__top .left{
    width: 458px;
}

.header .logo{
    display: flex;
    align-items: center;

}

.header .logo img{
    width: 99px;
    display: block;
}

.header .logo p{
    padding-left: 10px;
    font-weight: 400;
    font-size: 15px;
    color: #868786;
}

.header .logo p span{
    display: block;
    padding-bottom: 5px;
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
    color: #3b3b39;
}

.header__place{
    margin-bottom: 7px;
    padding-left: 22px;
    position: relative;
    font-weight: 600;
    font-size: 16px;
    color: #3b3b39;
}

.header__place:before{
    content: "";
    width: 16px;
    height: 16px;
    background: url(../img/header/place.svg) center no-repeat;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.header__time{
    margin-bottom: 7px;
    padding-left: 22px;
    position: relative;
    font-weight: 600;
    font-size: 16px;
    color: #3b3b39;
}

.header__time:before{
    content: "";
    width: 16px;
    height: 16px;
    background: url(../img/header/time.svg) center no-repeat;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.header__link{
    font-weight: 400;
    font-size: 14px;
    color: #38aa34;
}

.header__link.p-l{
    padding-left: 22px;
}

.header__link a{
    color: inherit;
    border-bottom: 1px dashed #38aa34;
    transition: .3s;
}

.header__link a:hover,
.header__link a:active{
    color: #2B87C8;
    border-color: #2B87C8;
}

.header__phone{
    margin-bottom: 7px;
    font-weight: 600;
    font-size: 18px;
    color: #3b3b39;
}

.header__phone a{
    color: inherit;
}

.header__phone span{
    display: block;
    padding-top: 7px;
    font-weight: 400;
    font-size: 13px;
    color: #a0a0a0;
}

.social{
    display: flex;
    gap: 8px;
}

.social__item{

}

.social__item a{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    border: 1px solid #2B87C8;
    border-radius: 2px;
}

.social__item img{
    max-width: 100%;
    display: block;
}

.switch{
    display: inline-flex;
    padding: 6px;
    background: #fff;
    border-radius: 8px;
}

.switch__item{
    min-width: 135px;
    min-height: 44px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #3b3b39;
    cursor: pointer;
    border-radius: 8px;
    transition: .3s;
}

.switch__item.active{
    background: #ededed;
}

.eye{
    width: 50px;
    height: 50px;
    background: url(../img/header/eye.svg) center no-repeat;
    border: 1px solid #2b87c8;
    border-radius: 2px;
    cursor: pointer;
}

.header__bottom{
    width: 100%;
    padding-top: 14px;
    position: absolute;
    top: 100%;
    z-index: 3;
}

.header__bottom .cols{
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.header__bottom .left{
    width: 458px;
    padding-top: 14px;
}

.nav{

}

.nav > ul{
    display: flex;
    gap: 50px;
    list-style: none;
}

.nav > ul > li{
    position: relative;
}

.nav > ul > li > a{
    display: flex;
    align-items: center;
    padding: 8px 0;
    font-weight: 600;
    font-size: 14px;
    color: #3b3b39;
    text-transform: uppercase;
    transition: .3s;
}

.nav > ul > li > a i{
    width: 8px;
    height: 4px;
    display: block;
    flex-shrink: 0;
    margin-left: 6px;
    background: url(../img/header/angle_down.svg) center no-repeat;
}

.nav > ul > li.active > a{
    color: #38aa34;
}

.nav > ul ul{
    width: 300px;
    display: none;
    background: #F3F3F3;
    padding: 12px;
    list-style: none;
    border-radius: 8px;
    position: absolute;
    top: 100%;
    left: -24px;
}

.nav > ul ul li{

}

.nav > ul ul li a{
    display: block;
    padding: 8px 12px;
    font-weight: 600;
    font-size: 14px;
    color: #3b3b39;
    transition: .3s;
}

.nav > ul ul li.active a{
    color: #38aa34;
}

.nomer{
    padding: 4px;
    border: 1px solid #ededed;
    border-radius: 6px;
}

.nomer form{
    display: flex;
    align-items: center;
}

.nomer input{
    width: 218px;
    flex-shrink: 0;
}

.nomer .btn{
    min-height: 42px;
    font-size: 13px;
    white-space: nowrap;
}

/**INTRO**/
.intro{
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
}

.intro .in{
    padding: 100px 20px 50px 77px;
    background: #fff;
    border-radius: 18px;
}

.intro__cols{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.intro__left{
    width: calc(100% - 794px);
    padding-right: 30px;
}

.intro__right{
    width: 794px;
    flex-shrink: 0;
}

.intro .title{
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 54px;
    color: #3b3b39;
}

.intro .title span{
    display: block;
    padding-top: 25px;
    font-weight: 400;
    font-size: 28px;
    color: #686865;
}

.intro .pic{
    height: 498px;
}

.intro .pic img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    border-radius: 18px;
}

.intro .btn{
    margin-bottom: 80px;
}

.intro p{
    font-weight: 400;
    font-size: 18px;
    color: #3b3b39;
}

.intro p span,
.intro p a{
    font-weight: 600;
    color: #2b87c8;
}

/**ADVANTAGES**/
.advantages{

}

.advantages .items{
    display: flex;
    gap: 24px;
}

.advantages .item{

}

.advantages .item.w-1{
    width: 34%;
}

.advantages .item.w-2{
    width: 22%;
}

.advantages .item .in{
    min-height: 340px;
    position: relative;
}

.advantages .item .in.dark{
    padding: 60px 40px;
    background: url(../img/advantages/dark_bg.svg) right bottom no-repeat;
    background-size: cover;
    border-radius: 18px;
}

.advantages .item .in.dark:before{
    content: "";
    width: 100%;
    height: 100%;
    background: url(../img/advantages/dark_bg_2.svg) left center no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.advantages .item .in.dark .title{
    font-weight: 500;
    font-size: 36px;
    color: #fff;
    position: relative;
    z-index: 3;
}

.advantages .item .in.dark .bottom{
    width: 114px;
    height: 114px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    border-radius: 40px 0 0 0;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
}

.btn-big-arrow-gray{
    width: 90px;
    height: 90px;
    display: block;
    flex-shrink: 0;
    background: #D9D9D9 url(../img/arrow-white.svg) center no-repeat;
    border-radius: 100%;
}

.btn-big-arrow-gray:hover,
.btn-big-arrow-gray:active{
    opacity: .8;
}

.advantages .item .in.green{
    padding: 30px 36px;
    background: #38aa34;
    border-radius: 18px;
}

.advantages .item .in.green .title{
    margin-bottom: 10px;
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    letter-spacing: -0.07em;

}

.advantages .item .in.green .title span{
    font-size: 80px;
    line-height: .8;
}

.advantages .item p{
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 15px;
    color: #2e2e2e;
}

.advantages .item .in.green .bottom{
    display: flex;
    justify-content: center;
    padding-top: 12px;
}

.btn-dark-cir{
    min-height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px 5px 5px 21px;
    background: #3b3b39;
    border-radius: 100px;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
}

.btn-dark-cir:hover,
.btn-dark-cir:active{
    opacity: .8;
}

.btn-dark-cir i{
    width: 40px;
    height: 40px;
    display: block;
    flex-shrink: 0;
    margin-left: 10px;
    background: #fff url(../img/arrow-dark.svg) center no-repeat;
    border-radius: 100%;
}

.advantages .item .in.blue{
    padding: 30px 36px;
    background: #2b87c8;
    border-radius: 18px;
}

.advantages .item .shild{
    margin-bottom: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 3px 18px;
    font-weight: 600;
    font-size: 24px;
    color: #3b3b39;
    border: 1px solid #3b3b39;
    border-radius: 20px;
}

.advantages .item .in.blue .title{
    font-weight: 600;
    font-size: 22px;
    color: #3b3b39;    
}

.advantages .item .in.blue .title span{
    display: block;
    font-weight: 600;
    font-size: 128px;
    letter-spacing: -0.07em;
    color: #fff;
    line-height: 1;
}

.advantages .item .in.white{
    padding: 30px 36px;
    background: #fff;
    border-radius: 18px;
}

.advantages .item .in.white .title{
    margin-bottom: 18px;
    font-weight: 500;
    font-size: 24px;
    color: #313130;
}

.advantages .item .in.white .num{
    font-weight: 600;
    font-size: 70px;
    letter-spacing: -0.07em;
    color: #2b87c8;
    line-height: 1;
}

.advantages .item .in.white .title-2{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 24px;
    color: #434342;
}

.advantages .item .in.white p{
    font-weight: 500;
    font-size: 15px;
    line-height: 1.7;
    color: #2e2e2e;
}

/**CERT**/
.cert{

}

.cert-dark{
    padding: 54px 54px 24px;
    background: #313130 url(../img/cert/bg.svg) left bottom no-repeat;
    background-size: cover;
    border-radius: 18px;
}

.cert__cols{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 60px;
}

.cert__left{
    width: 530px;
    flex-shrink: 0;
}

.cert__right{
    width: calc(100% - 530px);
    padding-left: 70px;
}

.cert .pic{

}

.cert .pic img{
    width: 100%;
    display: block;
    border-radius: 12px;
}

.cert-dark .controls{
    height: auto;
    padding-top: 34px;
    margin-left: auto;
    margin-right: 405px;
}

/**SERVICES**/
.services{

}

.services .items{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -13px;
}

.services .item{
    width: 33.33%;
    padding: 0 13px;
    margin-bottom: 26px;
}

.services .item .in{
    min-height: 278px;
    height: 100%;
    padding: 44px 40px;
    background: url(../img/services/bg.svg) right bottom no-repeat;
    position: relative;
    transition: .3s;
}

.services .item .in:hover{
    background-image: url(../img/services/bg_h.svg);
}

.services .item .title{
    margin-bottom: 18px;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.08333;
    color: #3b3b39;
    transition: .3s;
}

.services .item p{
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 15px;
    color: #6a6a6a;
    transition: .3s;
}

.services .item .in:hover .title,
.services .item .in:hover p{
    color: #fff;
}

.services .item p a{
    color: inherit;
}

.services .item .arrow{
    width: 27px;
    height: 24px;
    display: block;
    background: url(../img/services/arrow.svg) center no-repeat;
    position: absolute;
    bottom: 5px;
    right: 5px;
    transition: .3s;
}

.services .item .in:hover .arrow{
    background: url(../img/services/arrow_h.svg);
}

.services .item .tel{
    font-weight: 600;
    font-size: 15px;
    color: #6a6a6a;
}

.services .item .tel span,
.services .item .tel a{
    color: #2b87c8;
}

.services .item .in:hover .tel,
.services .item .in:hover .tel span,
.services .item .in:hover .tel a{
    color: #fff;
}

/**STILL**/
.still{
    padding: 55px;
    background: #434342;
    border-radius: 18px;
}

.still__cols{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.still__left{
    width: 520px;
    flex-shrink: 0;
    padding-right: 30px;
}

.still__right{
    width: calc(100% - 520px);
}

.still__form{
    max-width: 822px;
    padding: 4px;
    background: #fff;
    border-radius: 6px;
}

.still__form form{
    display: flex;
    align-items: center;
}

.still__form input{
    font-size: 15px;
    flex-grow: 1;
}

.still__form .btn{
    min-height: 42px;
    font-size: 13px;
    white-space: nowrap;
}

.custom-select {
  position: relative;
  display: inline-block;
  width: 200px;
}

.still__form .custom-select{
    width: 248px;
    flex-shrink: 0;
    margin-right: 7px;
}

.custom-select select{
    height: 44px;
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    padding: 8px 14px;
    border: none;
    border-radius: 8px;
    background: #f3f3f3;
    cursor: pointer;
    color: #3b3b39;
    font-weight: 400;
    font-size: 14px;
}

.custom-select::after {
    content: "";
    width: 9px;
    height: 5px;
  background: url(../img/down.svg) center no-repeat;
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  pointer-events: none; /* Чтобы клик не перехватывался */
}

@-moz-document url-prefix() {
  .custom-select select {
    text-indent: 0.01px;
    text-overflow: '';
  }
}

